<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buy Milk in Hyderabad, Bangalore | Order Online | FoodRaft</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="assets/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="assets/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <!--<link rel="stylesheet" type="text/css" href="assets/stylesheets/landing_page_new/app.css">-->

    <link rel="stylesheet" media="screen and (max-width: 480px)" href="assets/stylesheets/landing_page_new/mobile.css" />

    <link rel='stylesheet' media='screen and (min-width: 481px)' href='assets/stylesheets/landing_page_new/app.css' />

    <!--<link id="size-stylesheet" rel="stylesheet" type="text/css" href="assets/stylesheets/landing_page_new/mobile.css" />-->

    <meta name="description"
          content="Order Fresh Milk online in Hyderabad, Bangalore. Milk Delivery Service with Free Home Delivery. Buy Milk from best brands - Dodla, Heritage, Jersey on FoodRaft.">
</head>
<body>
<div id="body-child" class="hide">
    <div class="hidden-xs">
        <div class="cta-bar js-cta-bar">
            <div class="content-wrapper">
                <div class="text-wrapper">
                    Our services are currently unavailable!
                </div>
                <!--<div class="cta-wrapper">
                    <button class="btn btn-xs js-btn-cta">Order Now!</button>
                </div>-->
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <img src="assets/images/logo.png" alt="Logo" />
                        <small class="oneliner">India's No. 1 Milk Delivery Service</small>
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div>
            <span class="icon">
              <i class="fr-icon-call"></i>
            </span>

                            <span class="text">
              Order via Call / WhatsApp
              <br>
              <a href="tel:+917729050505" class="link-unstyled">
                                7729-05-05-05
                            </a>
            </span>
                        </div>
                    </li>
                    <li>
                        <a href="mailto:info@foodraft.com">
            <span class="icon">
              <i class="fr-icon-mail"></i>
            </span>
                            <span class="text">
              info@foodraft.com
            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="hero">
            <div class="container">
                <h1 class="text-uppercase text-center js-title title space-on-bottom-xxl">
                    <b>Subscribe To daily Fresh Milk & MORE</b>
                </h1>

                <h4 class="text-center space-on-bottom-xl hidden">Get Fresh & Healthy Milk - At Your Doorstep</h4>

                <!-- <h3 class="text-center space-on-bottom-xl">Order Curd, Ghee & More</h3> -->

                <form class="form-inline supplier-search-form space-on-bottom-xxl" id="js-location-selector-form">
                    <div class="form-group clearfix">
                        <div class="dropdown pull-left">
                            <button class="btn btn-default btn-lg btn-left" data-toggle="dropdown" type="button">
                                <span class="js-selected-city">Hyderabad</span>
                                <i class="fr-icon-keyboard-arrow-down align-middle"></i>
                            </button>

                            <ul class="dropdown-menu js-city-dropdown" role="menu">
                                <li><a href="#" data-city="0">Hyderabad</a></li>
                                <li><a href="#" data-city="1">Bangalore</a></li>
                            </ul>
                        </div>

                        <div class="search-field-wrapper pull-left">
                            <i class="fr-icon-map-marker input-icon"></i>
                            <input type="text"
                                   name="location"
                                   id="js-location-selector"
                                   class="form-control input-lg search-field"
                                   placeholder="Type your Street Name or a nearby Landmark" />
                        </div>
                        <button type="button" class="btn btn-default btn-lg pull-left js-btn-get-current-gps">
                            <i class="fr-icon-map-marker input-icon"></i>
                            Locate Me
                        </button>

                        <!-- <button id="js-location-selector-form-submit" class="btn btn-orange btn-lg pull-left btn-right" type="button">
                                        <i class="fr-icon-search space-on-right-sm"></i>
                                        Show Products
                                      </button>-->



                    </div>
                </form>

                <ul class="list-unstyled usp-list">
                    <li>
                        <i class="fr-icon-delivery-truck usp-icon"></i>
                        <span class="usp-text">FREE Delivery on all orders</span>
                    </li>

                    <li>
                        <i class="fr-icon-cod usp-icon"></i>
                        <span class="usp-text">Cash on delivery available</span>
                    </li>
                    <!-- <li>
                      <i class="fr-icon-delivery-truck usp-icon"></i>
                      <span class="usp-text">FREE Home Delivery</span>
                    </li>

                    <li>
                      <i class="fr-icon-cod usp-icon"></i>
                      <span class="usp-text">Cash on Delivery</span>
                    </li>

                    <li>
                      <i class="fr-icon-credit-card usp-icon"></i>
                      <span class="usp-text">Online Payment</span>
                    </li> -->
                </ul>
            </div>
        </section>

        <section class="fr-section">
            <div class="container">
                <ul class="feature-list list-unstyled clearfix">


                    <li class="col-md-3">
                        <div class="media">
                            <div class="media-left">
                                <i class="fr-icon-calendar color-primary fr-4x"></i>
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title">Daily Milk Delivery</b>
                                    <p class="desc">Subscribe to our daily milk delivery service as per your convenience - for 7 or 14 days, or more.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-3">
                        <div class="media">
                            <div class="media-left">
                                <i class="fr-icon-thumbs-up color-primary fr-4x"></i>
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title">Best Quality Products</b>
                                    <p class="desc">Buy Fresh Milk, Curd, Ghee, and more from popular brands like Dodla, Milky Plus, Heritage etc.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-3">
                        <div class="media">
                            <div class="media-left">
                                <i class="fr-icon-delivery color-primary fr-4x"></i>
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title">FREE DELIVERY</b>
                                    <p class="desc">No delivery charges. No hidden charges. FREE delivery all across the city.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-3">
                        <div class="media">
                            <div class="media-left">
                                <i class="fr-icon-happy color-primary fr-4x"></i>
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title">Trusted by many</b>
                                    <p class="desc">Over 10,000+ Milk subscribers who are happy with our services.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="fr-section bg-secondary">
            <div class="container">
                <h3 class="section-title">Place your order in Just 4 simple steps</h3>

                <div class="row clearfix">
                    <div class="col-md-3 clear-padding-right">
                        <div class="list-group screenshot-selector">
                            <a href="#"
                               class="list-group-item active js-display-usage-screenshot"
                               data-step="1">
                                1. Select your location
                            </a>

                            <a href="#"
                               class="list-group-item js-display-usage-screenshot"
                               data-step="2">
                                2. Select a product & subscription
                            </a>

                            <a href="#"
                               class="list-group-item js-display-usage-screenshot"
                               data-step="3">
                                3. Add to Cart
                            </a>

                            <a href="#"
                               class="list-group-item js-display-usage-screenshot"
                               data-step="4">
                                4. Checkout
                            </a>
                        </div>
                    </div>

                    <div class="col-md-9 clear-padding-left">
                        <div class="usage-screenshots-wrapper">
                            <div class="loader js-screenshot-loader">
                                <img src="assets/images/loader.19b6ca23334c87a9.gif" alt="loader">
                            </div>

                            <img src=""
                                 alt="Screenshot"
                                 class="js-usage-screenshot usage-screenshot hidden" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="fr-section">
            <div class="container">
                <h3 class="section-title">Take your milk subscription to the next level</h3>

                <ul class="feature-list list-unstyled clearfix advance-features">
                    <li class="col-md-6 space-on-bottom-xl">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/icon-jump-rope.cb6208981fc232a0.png" alt="Stay Healthy">
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="text-uppercase media-title">Get Fresh Milk - Stay Healthy</b>
                                    <p class="text-muted">Guaranteed fresh & pure milk delivery - everyday! We ensure that all the products we serve are of high quality standards. Now, stop worrying about the milk quality and stay fit.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-6 space-on-bottom-xl">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/icon-calendar.fafca922fb99f47e.png" alt="Track Milk deliveries">
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="text-uppercase media-title">Tracking Milk deliveries is simple</b>
                                    <p class="text-muted">Know the status of your ongoing subscription with us i.e., the number of days delivered / pending with a simple click. Moreover, you can pause and resume your subscription anytime.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/icon-secure-payment.a53dc224dc80aead.png" alt="Make Convenient & Secure Payments">
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="text-uppercase media-title">Make Convenient & Secure Payments</b>
                                    <p class="text-muted">Pay either Cash on delivery or do online payments, as per your comfort. Payments made through Net banking/Debit Card/Credit Card are SSL encrypted and 100% secure.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/icon-auto-renewal.e8acd74e564fca68.png" alt="Auto-Renew Your Milk Subscription">
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="text-uppercase media-title">Auto-Renew Your Milk Subscription</b>
                                    <p class="text-muted">Save your time with our exclusive Auto-Renew service. Get your Milk subscription auto renewed at the end of every subscription period!</p>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </section>

        <section class="fr-section bg-secondary">
            <div class="container">
                <h3 class="section-title">Our Customers love our service</h3>

                <ul class="list-unstyled clearfix testimonials">
                    <li class="col-md-6 testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/Cust-R-Kumar.jpg" alt="R Kumar" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                R Kumar
                                            </b>
                                            <span class="testimonial-location">- Chandanagar, Miyapur</span>
                                            <p class="testimonial-desc">
                                                It has been a pleasant experience with them as the milk gets delivered to my home everyday on time. The payment process is also pretty simple.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-6 testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/user-image.png" alt="Aslam Khan" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                Aslam Khan
                                            </b>
                                            <span class="testimonial-location">- Banjara Hills Rd #12</span>
                                            <p class="testimonial-desc">
                                                Ordering Milk through FoodRaft.com is effortless. The Milk subscription plans are convenient, the milk quality is good, and the delivery is on time everyday.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-6 testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/user-image.png" alt="Hussein" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                Hussein
                                            </b>
                                            <span class="testimonial-location">- Erragadda</span>
                                            <p class="testimonial-desc">
                                                For my restaurant's dairy needs, I regularly order on FoodRaft.com. We usually have urgent milk/curd requirements here, and FoodRaft delivers very quick - sometimes within minutes!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-6 testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/Cust-CB-Ramana.jpg" alt="CB Ramana" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                CB Ramana
                                            </b>
                                            <span class="testimonial-location">- Mayuri Nagar, Miyapur</span>
                                            <p class="testimonial-desc">
                                                I recently ordered Milk from FoodRaft.com. The milk quality was good, and the delivery was prompt. Would definitely recommend it to friends.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-6 testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/user-image.png" alt="Sunil Saxena" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                Sunil Saxena
                                            </b>
                                            <span class="testimonial-location">- Malaysian Township, Kukatpally</span>
                                            <p class="testimonial-desc">
                                                The quality of milk is good and the delivery is prompt. Ordering, payments and everything is so effortless with FoodRaft!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-6 testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/user-image.png" alt="Samar Aquib" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                Samar Aquib
                                            </b>
                                            <span class="testimonial-location">- Begumpet</span>
                                            <p class="testimonial-desc">
                                                I manage events in Hyderabad. I order all my bulk dairy requirements on FoodRaft.com. They deliver good quality products at lesser prices. I'm happy with their service.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <footer class="fr-section">
            <div class="container">
                <ul class="social-links list-unstyled">
                    <li>
                        <a href="//www.facebook.com/foodraft" class="social-icon link-facebook" target="_blank">
                            <i class="fr-icon-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/foodraft" class="social-icon link-twitter" target="_blank">
                            <i class="fr-icon-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://plus.google.com/+Foodraft" rel="publisher" class="social-icon link-google-plus" target="_blank">
                            <i class="fr-icon-google-plus"></i>
                        </a>
                    </li>
                </ul>

                <!--<div>
                  <b class="space-on-right">Popular Locations:</b>
                  <ul class="popular-locations list-unstyled">
                    <% @popular_localities.each do |key, value| %>
                      <li><%= link_to value, link_for_location(key, 'milk') %></li>
                    <% end %>
                  </ul>
                </div>-->

                <hr>

                <p>
                    FoodRaft.com is India's 1st Online Milk Subscription Service. Choose and order from wide range of Milk, Curd, Ghee, Paneer & other dairy products in a few clicks. Get fresh & healthy milk daily from the best brands like Dodla, Milky Plus, Heritage and many more.
                </p>

                <hr>

                <div>
                    <span class="space-on-right">Payment secured by</span>
                    <img src="assets/images/payment_images.90a37f2cda8c5f3a.png" alt="Payment secured by PayU Money" />
                </div>

                <hr>

                <div class="text-center space-on-bottom">
                    <ul class="privacy-links list-unstyled">
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Terms of Use
                            </a>
                        </li>
                    </ul>
                </div>

                <p class="text-center copyrights">
                    <small>&copy; FoodRaft 2018</small>
                </p>
            </div>
        </footer>


        <div id="js-locate-me-modal" class="modal hide">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Please tell us your location</h4>
                    </div>
                    <div class="modal-body">
                        <div id="map"></div>
                    </div>
                    <div class="modal-footer text-center">
                        <button id="js-map-location-selector" class="btn btn-orange btn-lg btn-right" type="button">
                            Show Products
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <div class="visible-xs">
        <div class="cta-bar js-btn-cta">
            <!--<div class="cta-wrapper">
                <div class="icon-wrapper">
                    <i class="fr-icon-gift"></i>
                </div>
                <div class="content-wrapper">
                    <div class="text-wrapper">
                        <small>FREE Milk for 5 days on 1st order<sup><small>*</small></sup> | Code: FRSD5</small>
                    </div>
                </div>
            </div>-->

            <div class="text-center">
                <small>Our services are currently unavailable!</small>
            </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <img src="assets/images/logo.png" alt="Logo" />
                        <small class="oneliner">India's No. 1 Milk Delivery Service</small>
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="city-select-wrapper">
                        <a href="#">
                            <small class="js-selected-city">Hyderabad</small>
                            <span class="caret"></span>
                        </a>

                        <select class="js-city-select city-select form-control input-sm">
                            <option value="0">Hyderabad</option>
                            <option value="1">Bangalore</option>
                        </select>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="contact-link">
                            <small>Contact</small>
                        </a>

                        <ul class="dropdown-menu circular-dropdown-menu" role="menu">
                            <li>
                                <a href="tel:+917729050505">
                                    <i class="fr-icon-call"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:info@foodraft.com">
                                    <i class="fr-icon-mail"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="hero">
            <div class="container">
                <h3 class="text-uppercase text-center title js-title">
                    <b>SUBSCRIBE TO DAILY FRESH MILK & MORE</b>
                </h3>

                <p class="text-center lead hidden">Fresh & Healthy Milk - At your doorstep</p>

                <form class="supplier-search-form" id="js-location-selector-form">
                    <div class="form-group clearfix">
                        <div class="search-field-wrapper">
                            <i class="fr-icon-map-marker input-icon"></i>
                            <input type="text"
                                   name="location"
                                   id="js-location-selector"
                                   class="form-control search-field input-lg"
                                   placeholder="Type your Street Name or a nearby Landmark" />
                        </div>

                        <button class="btn btn-default btn-block btn-lg js-btn-get-current-gps search-field-wrapper" type="button">
                            Locate Me
                        </button>

                        <!-- <button id="js-location-selector-form-submit" class="btn btn-orange btn-block btn-lg" type="button">
                          <i class="fr-icon-search space-on-right-sm"></i>
                          Show Products
                        </button> -->
                    </div>
                </form>

                <ul class="list-unstyled usp-list">
                    <li>
                        <i class="fr-icon-delivery-truck usp-icon"></i>
                        <span class="usp-text align-middle">FREE Delivery on all orders</span>
                    </li>

                    <li>
                        <i class="fr-icon-cod usp-icon"></i>
                        <span class="usp-text align-middle">Cash on Delivery available</span>
                    </li>
                    <!-- <li>
                      <i class="fr-icon-delivery-truck usp-icon"></i>
                      <span class="usp-text align-middle">FREE Home Delivery</span>
                    </li>

                    <li>
                      <i class="fr-icon-cod usp-icon"></i>
                      <span class="usp-text align-middle">Cash on Delivery</span>
                    </li>

                    <li>
                      <i class="fr-icon-credit-card usp-icon"></i>
                      <span class="usp-text align-middle">Online Payment</span>
                    </li> -->
                </ul>
            </div>
        </section>

        <section class="fr-section">
            <div class="container">
                <ul class="feature-list list-unstyled clearfix">

                    <li class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <i class="fr-icon-calendar color-primary fr-4x space-on-right-lg"></i>
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title text-uppercase">Daily Milk Delivery</b>
                                    <p class="desc">Subscribe to our daily milk delivery service as per your convenience - for 7 or 14 days, or more.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <i class="fr-icon-thumbs-up color-primary fr-4x space-on-right-lg"></i>
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title text-uppercase">Best Quality Products</b>
                                    <p class="desc">Buy Fresh Milk, Curd, Ghee, and more from popular brands like Dodla, Milky Plus, Heritage etc.</p>
                                </div>
                            </div>
                        </div>
                    </li>



                    <li class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <i class="fr-icon-delivery color-primary fr-4x space-on-right-lg"></i>
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title text-uppercase">FREE Delivery</b>
                                    <p class="desc">No delivery charges. No hidden charges. FREE delivery all across the city.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <i class="fr-icon-happy color-primary fr-4x space-on-right-lg"></i>
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title text-uppercase">Trusted by many</b>
                                    <p class="desc">Over 10,000+ Milk subscribers who are happy with our services.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="fr-section bg-secondary">
            <div class="container">
                <h4 class="section-title">Place your order in Just 4 simple steps</h4>

                <div class="row clearfix">
                    <div class="js-screenshot-loader text-center">
                        <img src="assets/images/loader.19b6ca23334c87a9.gif" alt="loader">
                    </div>

                    <div class="clearfix screenshot-desc-wrapper">
                        <b class="js-screenshot-desc"></b>
                    </div>

                    <div class="screenshot-wrapper hidden js-screenshot-wrapper">

                        <button type="button"  class="btn-prev js-display-previous-step">
                            <i class="fr-icon-chevron-left"></i>
                        </button>

                        <div class="js-screenshot screenshot-prev screenshot"
                             data-position="prev"
                             data-desc="4. Checkout">
                            <img src="assets/images/checkout-mobile.fcf483375653757b.png" alt="Checkout" />
                        </div>

                        <div class="screenshot-active screenshot js-screenshot" data-position="active"
                             data-desc="1. Select your location">
                            <img src="assets/images/select-location-mobile.d8f151cd32b14c1f.png" alt="Select your locality" />
                        </div>

                        <div class="screenshot-next screenshot js-screenshot" data-position="next"
                             data-desc="2. Select a product & subscription">
                            <img src="assets/images/select-product-mobile.689120fef04f5de9.png" alt="Find your product" />
                        </div>

                        <div class="screenshot-last screenshot js-screenshot" data-position="last"
                             data-desc="3. Add to Cart">
                            <img src="assets/images/add-to-cart-mobile.8edfac2a568e1033.png" alt="Enter subscription details"/>
                        </div>

                        <button type="button" class="btn-next js-display-next-step">
                            <i class="fr-icon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>



        <section class="fr-section">
            <div class="container">
                <h4 class="section-title">Your milk subscription - Take it to the next level</h4>

                <ul class="feature-list list-unstyled clearfix advance-features">
                    <li class="col-sm-12">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/icon-jump-rope.cb6208981fc232a0.png" alt="Stay Healthy" class="feature-icon">
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title text-uppercase">Get Fresh Milk - Stay Healthy</b>
                                    <p class="text-muted">Guaranteed Fresh & Pure milk delivery - everyday! We ensure that all the products we serve are of high quality standards. Now, stop worrying about the milk quality and stay fit.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-sm-12">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/icon-calendar.fafca922fb99f47e.png" alt="Track your subscriptions" class="feature-icon">
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title text-uppercase">Tracking Milk Deliveries is Simple</b>
                                    <p class="text-muted">Know the status of your ongoing subscription with us i.e., the number of days delivered / pending with a simple click. Moreover, you can pause and resume your subscription anytime.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-sm-12">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/icon-secure-payment.a53dc224dc80aead.png" alt="Make Convenient & Secure Payments" class="feature-icon">
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title text-uppercase">Make Convenient & Secure Payments</b>
                                    <p class="text-muted">Pay either Cash on Delivery or do Online payments, as per your comfort. Payments made through Net banking/Debit Card/Credit Card are SSL encrypted and 100% secure.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-sm-12">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/icon-auto-renewal.e8acd74e564fca68.png" alt="Auto-Renew Your Milk Subscription" class="feature-icon">
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <b class="media-title text-uppercase">Auto-Renew Your Milk Subscription</b>
                                    <p class="text-muted">Save your time with our exclusive Auto-Renew service. Get your milk subscription auto renewed at the end of every subscription period!</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="fr-section bg-secondary">
            <div class="container">
                <h4 class="section-title">Our Customers love our service</h4>

                <ul class="list-unstyled clearfix testimonials">
                    <li class="testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/Cust-R-Kumar.550d12718d002fcc.jpg" alt="R Kumar" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                R Kumar
                                            </b>
                                            <span class="testimonial-location">- Chandanagar, Miyapur</span>
                                            <p class="testimonial-desc">
                                                It has been a pleasant experience with them as the milk gets delivered to my home everyday on time. The payment process is also pretty simple.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/user-image.png" alt="Aslam Khan" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                Aslam Khan
                                            </b>
                                            <span class="testimonial-location">- Banjara Hills Rd #12</span>
                                            <p class="testimonial-desc">
                                                Ordering Milk through FoodRaft.com is effortless. The Milk subscription plans are convenient, the milk quality is good, and the delivery is on time everyday.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/user-image.png" alt="Hussein" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                Hussein
                                            </b>
                                            <span class="testimonial-location">- Erragadda</span>
                                            <p class="testimonial-desc">
                                                For my restaurant's dairy needs, I regularly order on FoodRaft.com. We usually have urgent milk/curd requirements here, and FoodRaft delivers very quick - sometimes within minutes!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/Cust-CB-Ramana.59e90fbaea0fc010.jpg" alt="CB Ramana" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                CB Ramana
                                            </b>
                                            <span class="testimonial-location">- Mayuri Nagar, Miyapur</span>
                                            <p class="testimonial-desc">
                                                I recently ordered Milk from FoodRaft.com. The milk quality was good, and the delivery was prompt. Would definitely recommend it to friends.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/user-image.png" alt="Sunil Saxena" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                Sunil Saxena
                                            </b>
                                            <span class="testimonial-location">- Malaysian Township, Kukatpally</span>
                                            <p class="testimonial-desc">
                                                The quality of milk is good and the delivery is prompt. Ordering, payments and everything is so effortless with FoodRaft!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="testimonial">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/images/customer-testimonials/user-image.png" alt="Samar Aquib" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <b class="text-uppercase media-title">
                                                Samar Aquib
                                            </b>
                                            <span class="testimonial-location">- Begumpet</span>
                                            <p class="testimonial-desc">
                                                I manage events in Hyderabad. I order all my bulk dairy requirements on FoodRaft.com. They deliver good quality products at lesser prices. I'm happy with their service.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <footer class="fr-section">
            <div class="container">
                <ul class="social-links list-unstyled">
                    <li>
                        <a href="//www.facebook.com/foodraft" class="social-icon link-facebook" target="_blank">
                            <i class="fr-icon-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/foodraft" class="social-icon link-twitter" target="_blank">
                            <i class="fr-icon-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="http://plus.google.com/110835474294479264085" rel="publisher" class="social-icon link-google-plus" target="_blank">
                            <i class="fr-icon-google-plus"></i>
                        </a>
                    </li>
                </ul>

                <!--<div>
                  <b class="space-on-right">Popular Locations:</b>
                  <ul class="popular-locations list-unstyled">
                    <% @popular_localities.each do |key, value| %>
                      <li><%= link_to value, link_for_location(key, 'milk') %></li>
                    <% end %>
                  </ul>
                </div>-->

                <hr>

                <p>
                    FoodRaft.com is India's 1st Online Milk Subscription Service. Choose and order from wide range of Milk, Curd, Ghee, Paneer & other dairy products in a few clicks. Get fresh & healthy milk daily from the best brands like Dodla, Milky Plus, Heritage and many more.
                </p>

                <hr>

                <div>
                    <span class="space-on-right">Payment secured by</span>
                    <img src="assets/images/payment_images.90a37f2cda8c5f3a.png" alt="Payment secured by PayU money" />
                </div>

                <hr>

                <div class="text-center space-on-bottom">
                    <ul class="privacy-links list-unstyled">
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Terms of Use
                            </a>
                        </li>
                    </ul>
                </div>

                <p class="text-center copyrights space-on-top-lg">
                    <small>&copy; FoodRaft 2018</small>
                </p>
            </div>
        </footer>

    </div>



    <!--<script src="assets/javascripts/landing_page_new/app.js"></script>-->

    <script src="assets/javascripts/common/cookies.js"></script>
    <script src="assets/javascripts/common/jquery-2.1.1.js"></script>
    <script src="assets/javascripts/common/location_selection_support.js"></script>
    <script src="assets/javascripts/common/current_loc_utils.js"></script>
    <script src="assets/javascripts/common/preload_images.js"></script>
    <script src="assets/javascripts/common/bootstrap.js"></script>
    <script src="assets/javascripts/common/app.js"></script>
    <!--<script src="assets/javascripts/common/screenshots_desktop.js"></script>
    <script src="assets/javascripts/common/screenshots_mobile.js"></script>-->

    <script>
        if (screen && screen.width > 480) {
            document.write('<script type="text/javascript" src="assets/javascripts/common/screenshots_desktop.js"><\/script>');
        }
    </script>

    <script>
        if (screen && screen.width <= 480) {
            document.write('<script type="text/javascript" src="assets/javascripts/common/screenshots_mobile.js"><\/script>');
        }
    </script>


    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= ENV["GA_TRACKING_CODE"] %>', '<%= ENV["GA_COOKIE_DOMAIN"] %>');
        ga('send', 'pageview', {'page': window.location.href, 'title': 'Foodraft Home Page'});
        ga('send', 'event', 'Conversion - Analysis', 'Conversions - Pages Opened', 'Step 1 - Foodraft Home page');
    </script>

</div>
</body>
</html>